table{
    border-style:solid;
}
th, td{
    border-style:solid;
}
tbody>tr>th{
    font-style: italic;
    font-weight: normal;
}
tbody>tr:nth-of-type(odd) {
    background-color: red;
}
tbody>tr:nth-of-type(even) {
    background-color: green;
}
.outer-content{
    background-color: pink;
    margin-right:25%;
    margin-bottom:20px;
    position: relative;
    top:20px;
    padding: 12.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inner-content{
    background-color: lightblue;
    text-align: center;
}