:root {
    --blue_dark: #0e1a40;
    --blue: #222f5b;
    --grey: #5d5d5d;
    --brown: #946b2d;
    --black: #000000;

    --purple1: #8b8589;
    --purple2: #989898;
    --purple3: #838996;
    --purple4: #979aaa;
    --purple5: #4c516d;
}

body, html {
    background-color: var(--grey);
    height: 100%;
}

.navbar {
    background-color: var(--blue_dark);   
}

.caption {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: black;
}

.caption span.border {
    height: 100%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 17px;
    letter-spacing: 8px;
}

.header {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

.resume {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 80%;
}

.downloadButton {
    width: 100%;
    height: 50px;
    background-color: var(--blue);
    color: var(--brown);
}